<!-- {{user.name}} -->
<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{user.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="profile-img img-thumbnail" src="{{user.avatar_url}}">
                </div>
                <div class="col-md-4">
                    <a class="btn btn-inverse btn-block" href="{{user.gists_url}}" target="_blank">
                        View Users Gists
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">GITHUB PUBLIC GISTS</h3>
    </div>
    <div class="panel-body">
        <div *ngFor="let gist of gists">
        <div class="row">
            <div class="col-sm-8">
                <!-- <h3>Owners Username : {{gist.owner.login}}</h3> -->
                <p>Project Description : {{gist.description}}</p>
                <p>Date Created : {{gist.created_at}}</p>
                <a class="btn btn-inverse btn-block" href="{{gist.html_url}}" target="_blank">
                    View Gists on Github
                </a>
            </div>
        </div>
        <hr>
    </div>
    </div>
</div> 